.App {
  text-align: center;
  min-height: 100vh;
  min-width: 100vw;
  background-color: #eeeeff;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.App-header {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(99, 99, 99);
  width: 100%;
  height: 60px;
  margin-top: 32px;
}

.Note-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  padding: 16px;
  gap: 8px;
}
