.App {
  text-align: center;
  min-height: 100vh;
  min-width: 100vw;
  background-color: #eeeeff;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  position: relative;
}

.App-header {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(99, 99, 99);
  width: 100%;
  height: 60px;
  margin-top: 32px;
}

.Note-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  padding: 16px;
  gap: 8px;
}

.User-tooltip {
  position: absolute;
  background-color: rgb(185, 184, 184);
  color: white;
  padding: 5px;
  border-radius: 5px;
  font-size: 12px;
  pointer-events: none;
  width: 120px;
  height: auto;
  transition: opacity 0.3s ease-in-out;
  overflow: hidden;
  text-align: left;
  display: none;
  border: 1px solid #acabab;

  p {
    margin: 5px;
    padding: 0;
  }
}
